
<div class="container">
    <div class="row">
        <div class="col-md-10 ml-md-auto">
            <div class="card bg-light mb-3 mt-5" style="width: 800px">
                <div class="card-body">
                    <div class="card-header mb-3">Create Task</div>
                    {{ form_start(form) }}
                    <div class="form_group">
                        <div class="col-md-12 mb-3">
                            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form_group">
                        <div class="col-md-12 mb-3">
                            {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form_group">
                        <div class="col-md-12 mb-3">
                            {{ form_row(form.created_at, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form_group">
                        <div class="col-md-12 mb-3">
                            {% if form.tags is not empty %}
                                {{ form_label(form.tags, "Tags")}}
                            {% endif %}
                            {{ form_label(form.tags, "")}}
                            {% for tag in form.tags %}
                                <div class="form_group">
                                    <div class="col-md-12 mb-3 bg-white" style="padding-bottom: 1rem">
                                        {{ form_row(tag.name, {'attr': {'class':'form-control', 'readonly':'true'}}) }}
                                        {{ form_row(tag.description, {'attr': {'class':'form-control','readonly':'true'}}) }}
                                        {{ form_row(tag.tasks, {'attr': {'class':'form-control'}}) }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row" style="margin-left:5px;">
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                                <button class="btn btn-primary">
                                    <i class="fa fa-btn fa-user"></i> {{ button_label|default('Save') }}
                                </button>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4" style="margin-top:-3px;">
                                <a class="btn btn-primary" href="{{ path('tag_task_add') }}" role="button" style="margin:8px">Create new tag</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                                <a class="btn btn-primary" href="{{ path('task_list',) }}" role="button">Back</a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
