{% extends 'base.html.twig' %}

{% block title %}Task List{% endblock %}

{% block body %}
    <h1>Task List</h1>
<a class="btn btn-primary btn-lg" href="{{ path('task_new') }}" role="button" style="margin:8px">Create new task</a>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Tag</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.createdAt ? task.createdAt|date('d-m-Y H:i') : '' }}</td>
                <td>
                    {% for tag in task.tags %}
                        <div>
                            {{ tag }}
                        </div>
                    {% else %}
                        no tags
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('task_edit', {'id': task.id}) }}" role="button">Edit</a>
                    <a class="btn btn-primary" href="{{ path('task_show', {'id': task.id}) }}" role="button">Show</a>
                    {{ include('task/_delete_form.html.twig')}}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
