{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>
<div class="table-responsive">
    <table class="table table-sm table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Tag</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.createdAt ? task.createdAt|date('d-m-Y H:i') : '' }}</td>
                <td>
                    {% for tag in task.tags %}
                        <div>
                            {{ tag }}
                        </div>
                    {% else %}
                        no tag
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('task_edit', {'id': task.id}) }}" role="button">Edit</a>
                    <a class="btn btn-primary" href="{{ path('task_show', {'id': task.id}) }}" role="button">Show</a>
                    <a class="btn btn-primary" href="{{ path('task_list', {'id': task.id}) }}" role="button">Back</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
