{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}


<div class="container">
    {{ render(controller('App\\Controller\\SearchController::searchBar'))}}
</div>
{% endblock %}
