{% extends 'base.html.twig' %}

{% block title %}Tag List{% endblock %}

{% block body %}
    <h1>Tag List</h1>
    <a class="btn btn-primary btn-lg" href="{{ path('tag_new') }}" role="button" style="margin:8px">Create new tag</a>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Tasks</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>{{ tag.description }}</td>
                <td>
                    {% for task in tag.tasks  %}
                        <div>
                            {{ task }}
                        </div>
                    {% else %}
                        no task
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('tag_show', {'id': tag.id}) }}" role="button">Show</a>
                    <a class="btn btn-primary" href="{{ path('tag_edit', {'id': tag.id}) }}" role="button">Edit</a>
                    {{ include('tag/_delete_form.html.twig')}}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no tags found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
