{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    <h1>Tag</h1>
    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Task</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ tag.name }}</td>
                <td>{{ tag.description }}</td>
                <td>
                    {% for task in tag.tasks %}
                        <div>
                            {{ task }}
                        </div>
                    {% else %}
                        no task
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('tag_edit', {'id': tag.id}) }}" role="button">Edit</a>
                    <a class="btn btn-primary" href="{{ path('tag_show', {'id': tag.id}) }}" role="button">Show</a>
                    <a class="btn btn-primary" href="{{ path('tag_list', {'id': tag.id}) }}" role="button">Back</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
