

<form method="post" style="display:inline" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">

    <button class="btn btn-danger">
        <i class="fa fa-btn fa-user"></i> {{ button_label|default('Delete') }}
    </button>
</form>