{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <h1>User</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.address }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}" role="button">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <h1>User's Tasks</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Creation Date</th>
                <th>Tasks</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for task in user.tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>

                    <td>
                        {% for task in tag.task  %}
                            <div>
                                {{ task }}
                            </div>
                        {% else %}
                            no task
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('task_user_delete', {'id': task.id}) }}" role="button">Remove user</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no tasks found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}