{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <h1>User</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <tr>
                    <td>{{ app.user.firstName }}</td>
                    <td>{{ app.user.lastName }}</td>
                    <td>{{ app.user.email }}</td>
                    <td>{{ app.user.phoneNumber }}</td>
                    <td>{{ app.user.address }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('user_edit', {'id': app.user.id}) }}" role="button">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <h1>User's Tasks</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Tag</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in user.tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.createdAt ? task.createdAt|date('d-m-Y H:i') : '' }}</td>
                    <td>
                        {% for tag in task.tags  %}
                            <div>
                                {{ tag }}
                            </div>
                        {% else %}
                            no tag
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('task_user_delete', {'id': task.id}) }}" role="button">Leave task</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no tasks found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h1>Task list</h1>
    <a class="btn btn-primary btn-lg" href="{{ path('task_new') }}" role="button" style="margin:8px">Create new task</a>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Tag</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in task %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.createdAt ? task.createdAt|date('d-m-Y H:i') : '' }}</td>
                    <td>
                        {% for tag in task.tags  %}
                            <div>
                                {{ tag }}
                            </div>
                        {% else %}
                            no tag
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('task_user', {'id': task.id}) }}" role="button">Register user</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no tasks found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h1>Tag List</h1>
    <a class="btn btn-primary btn-lg" href="{{ path('tag_new') }}" role="button" style="margin:8px">Create new tag</a>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Tasks</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

                {% for tag in tags %}
                    <tr>
                        <td>{{ tag.name }}</td>
                        <td>{{ tag.description }}</td>
                        <td>
                            {% for task in tag.tasks  %}
                                <div>
                                    {{ task }}
                                </div>
                            {% else %}
                                no task
                            {% endfor %}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('tag_show', {'id': tag.id}) }}" role="button">Show</a>
                            <a class="btn btn-primary" href="{{ path('tag_edit', {'id': tag.id}) }}" role="button">Edit</a>
                            {{ include('tag/_delete_form.html.twig')}}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no tags found</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}